/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';
@import "variables";
@import "mixins";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

body {
  background-color: #fff;
}
.main-container {
    padding: 0 16px;
  
    @media only screen and (max-width: $desktop) {
      padding: 0 20px;
      // margin-top: 2.2rem;
    }
  
    @media only screen and (max-width: $tablet-portrait) {
      padding: 0 19px;
      // margin-top: 2.2rem;
    }

    @media only screen and (max-width: $mobile-landscape) {
      padding: 0 16px;
      // margin-top: 2.2rem;
    }
  }

