<div class="container employees-content">
    <div class="auth-error d-flex justify-content-center" *ngIf="!(isAuthenticated | async)">
        <div>
            Oops, you must be authenticated to access this page :( <br>
            Hurry up, go to the 
                <a [routerLink]="['/settings']">Settings</a> 
            page!
        </div>
    </div>
    <div class="content" *ngIf="(isAuthenticated | async)">
        <div class="header d-flex flex-row justify-content-between">
            <div class="employee-search">
                <form>
                    <div class="form-group form-inline">
                        <input class="form-control ml-2" type="text" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm" (input)="search($any($event.target).value)"/>
                    </div>
                  </form>
            </div>
            <div class="bnt-add">
                <button type="button" class="btn btn-primary btn-add-employee" data-toggle="modal" data-target="#exampleModal">
                    Add <span>Employee</span>
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="addNewEmployeeForm" (ngSubmit)="onAddSubmit()">

                                    <div class="mb-3">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" formControlName="firstName" />
                                        <div *ngIf="f['firstName'].touched && !f['firstName'].valid">
                                            <div *ngIf="addNewEmployeeForm.get('firstName')?.errors?.['required']" class="error-text">
                                                Username is required
                                            </div> 
                                        </div>
                                    </div>
                        
                                    <div class="mb-3">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" formControlName="lastName" />
                                        <div *ngIf="f['lastName'].touched && !f['lastName'].valid">
                                            <div *ngIf="addNewEmployeeForm.get('lastName')?.errors?.['required']" class="error-text">
                                                Last Name is required
                                            </div> 
                                        </div>
                                    </div>
                        
                                    <div class="mb-3">
                                        <label>Middle Name</label>
                                        <input type="text" class="form-control" formControlName="middleName" />
                                    </div>
                        
                                    <div class="mb-3">
                                        <label>Email</label>
                                        <input type="text" class="form-control" formControlName="email" />
                                    </div>
                        
                                    <div class="mb-3">
                                        <label>Address</label>
                                        <input type="text" class="form-control" formControlName="address" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" (click)="onAddSubmit()" data-dismiss="modal" [disabled]="!addNewEmployeeForm.valid">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <table class="table table-striped" *ngIf="employees">
            <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th class="tbl-firstname" scope="col">First Name</th>
                  <th class="tbl-lastname" scope="col">Last Name</th>
                  <th class="tbl-email" scope="col">Email</th>
                  <th class="tbl-city" scope="col">City</th>
                  <th class="tbl-phone" scope="col">Phone</th>
                  <th class="tbl-address" scope="col">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees | listFilter: searchTerm; index as i">
                    <td>
                        {{ employee.Id }}
                    </td>
                    <td class="tbl-firstname">
                        {{ employee.FirstName }}
                    </td>
                    <td class="tbl-lastname">
                        {{ employee.LastName }}
                    </td>
                    <td class="tbl-email">
                        {{ employee.Email }}
                    </td>
                    <td class="tbl-city">
                        {{ employee.City }}
                    </td>
                    <td class="tbl-phone">
                        {{ employee.Phone }}
                    </td>
                    <td class="tbl-address">
                        {{ employee.Address }}
                    </td>
                </tr>
        </table>
    </div>
</div>

