<div class="container employees-content">
    <div class="auth-error d-flex justify-content-center" *ngIf="!(isAuthenticated | async)">
        <div>
            Oops, you must be authenticated to access this page :( <br>
            Hurry up, go to the 
                <a [routerLink]="['/settings']">Settings</a> 
            page!
        </div>
    </div>
    <div class="content" *ngIf="(isAuthenticated | async)">
        <div class="header d-flex flex-row justify-content-between">
            <div class="employee-search">
                <form>
                    <div class="form-group form-inline">
                        <input class="form-control ml-2" type="text" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm" (input)="search($any($event.target).value)"/>
                    </div>
                  </form>
            </div>
            <div class="bnt-add">
                <button type="submit" class="btn btn-primary">
                    Add Employee
                </button>
            </div>
        </div>
        <table class="table table-striped" *ngIf="employees">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First (Middle) Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">City</th>
                  <th scopr="col">Phone</th>
                  <th scopr="col">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees | listFilter: searchTerm; index as i">
                    <th scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
                    <td>
                        {{ employee.FirstName }}
                    </td>
                    <td>
                        {{ employee.LastName }}
                    </td>
                    <td>
                        {{ employee.Email }}
                    </td>
                    <td>
                        {{ employee.City }}
                    </td>
                    <td>
                        {{ employee.Phone }}
                    </td>
                    <td>
                        {{ employee.Address }}
                    </td>
                </tr>
        </table>
    </div>
</div>

